body {
    font-family: 'Roboto', sans-serif;
    display:flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
    
    
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding: 0px 100px;
   
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
   
}

.header-links {
    display:flex;
    gap: 25px;
    
}

.header-links a {
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 200;
}

a:link {
    text-decoration: none;
  }
  
ul {
        list-style-type: none;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 100px;
    background-color: #1f2937;
}


.hero-img img {
    width: 550px;
}

.hero-left {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-right: 30px;
  
}

.hero-main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.hero-secondary-text {
    color: #e5e7eb;
    font-size: 18px;
    font-weight: 200;
}

.hero-button button {
    background-color: #3882f6;
    color: #fff;
    padding: 12px 45px;
    border-radius: 10px;
    border: none;
}