body {
    font-family: 'Roboto', sans-serif;
    display:flex;
    flex-direction: column;
    
}


.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-links {
    display:flex;
    gap: 20px;
}

a:link {
    text-decoration: none;
  }
  
ul {
        list-style-type: none;
}
